.Div-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Div-login h1 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 28px;
  color: #ff577f;
}

.Form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 310px;
  height: 502px;
  background: #212529;
  box-shadow: 0px 4px 40px -10px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-family: Inter;
  font-style: normal;
}

.Form-login h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #f8f9fa;
}

.Form-login span {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #868e96;
}

.Form-login button {
  width: 280px;
  height: 48px;
  box-sizing: border-box;
  border-radius: 4.06066px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}

.Button-send {
  background: #ff577f;
  border: 1.2182px solid #ff577f;
}

.Button-singup {
  background: #868e96;
  border: 1.2182px solid #868e96;
}

.Div-inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Div-inputs p {
  height: 20px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #868e96;
}

.Div-inputs h3 {
  font-weight: normal;
  font-size: 12.182px;
  line-height: 0px;
  color: #f8f9fa;
}

.Div-inputs input {
  width: 260px;
  height: 48px;
  background: #343b41;
  border: 1.2182px solid #f8f9fa;
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: normal;
  font-size: 16.2426px;
  line-height: 26px;
  color: #f8f9fa;
}
